body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #64C5B1;
    color: white;
    text-align: center;
    padding: 1em;
}

header img{
    width: 200px;
    height: 80px;
}

header h1 {
    margin: 0;
}

.form-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #64C5B1;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #64C5B1;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
